extends ../layouts/main

block content
  .level
    .level-left
      .level-item
        div
          h1.title Lista de tiendas
          p.subtitle Visualización del módulo Store

    .level-right
      .level-item
        a.button.is-primary(href="/stores/view/new") Nueva tienda

  if stores && stores.length > 0
    .table-container
      table.table.is-striped.is-hoverable.is-fullwidth
        thead
          tr
            th ID
            th Nombre
            th Rubro
            th Subdominio
            th Estado
            th Comercio ID
            th Fecha de creación
            th Acciones
        tbody
          each store in stores
            tr
              td= store.id
              td= store.name
              td= store.category
              td= store.subdomain
              td= store.status
              td= store.commerceId
              td= store.createdAt
              td
                .buttons.are-small
                  a.button.is-info(href=`/stores/view/${store.id}`) Ver
                  a.button.is-warning(href=`/stores/edit/${store.id}`) Editar
                  form(method="POST", action=`/stores/delete/${store.id}`, style="display:inline;")
                    button.button.is-danger(type="submit", onclick="return confirm('¿Eliminar esta tienda?')") Eliminar
  else
    article.message.is-warning
      .message-body
        | No hay tiendas cargadas para mostrar.