extends ../layouts/main

block content
  h1.title Detalle de tienda
  p.subtitle Información general del módulo Store

  .box
    p
      strong ID:
      |  #{store.id}
    p
      strong Nombre:
      |  #{store.name}
    p
      strong Rubro:
      |  #{store.category}
    p
      strong Subdominio:
      |  #{store.subdomain}
    p
      strong Estado:
      |  #{store.status}
    p
      strong Comercio ID:
      |  #{store.commerceId}
    p
      strong Fecha de creación:
      |  #{store.createdAt}

  .box
    h2.title.is-5 Productos de esta tienda

    if products && products.length > 0
      .table-container
        table.table.is-striped.is-hoverable.is-fullwidth
          thead
            tr
              th ID
              th Nombre
              th Descripción
              th Precio
              th Stock
              th Categoría
              th Estado
          tbody
            each product in products
              tr
                td= product.id
                td= product.name
                td= product.description
                td= product.price
                td= product.stock
                td= product.category
                td= product.status
    else
      article.message.is-warning
        .message-body
          | Esta tienda todavía no tiene productos asociados.

  .buttons
    a.button.is-link(href="/stores/view") Volver al listado
    a.button.is-warning(href=`/stores/edit/${store.id}`) Editar tienda