.box
  h2.subtitle Listado de Comercios

  table.table.is-fullwidth.is-striped
    thead
      tr
        th Razón Social
        th CUIT
        th Email
        th Teléfono
        th Dirección
        th Acciones
    tbody
      each commerce in commerces
        tr
          td= commerce.name
          td= commerce.cuit
          td= commerce.email
          td= commerce.phone
          td= commerce.address
          td
            a.button.is-small(href="/commerces/" + commerce.id) Editar
            a.button.is-small(href="/commerces/" + commerce.id, method="POST", action="/api/commerces/" + commerce.id) Eliminar

