extends ../layouts/main

block content
  h1.title Editar Usuario: #{user.nombre}

  form(method="POST", action=`/api/user/editar/${user.id}`)
    .field
      label.label Nombre
      input.input(type="text", name="nombre", value=user.nombre, required)

    .field
      label.label Apellido
      input.input(type="text", name="apellido", value=user.apellido, required)

    .field
      label.label Email
      input.input(type="email", name="email", value=user.email, required)

    .field
      label.label Rol
      .select
        select(name="rol")
          option(value="user", selected=user.rol === 'user') Usuario
          option(value="admin", selected=user.rol === 'admin') Administrador

    .field
      label.label Nueva Contraseña
      input.input(type="password", name="password", value=user.password, required)

    .field.is-grouped
      .control
        button.button.is-link(type="submit") Guardar Cambios
      .control
        a.button.is-text(href="/api/user") Cancelar
